Repository techprimate/github-actions-utils-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-json, format-markdown, format-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-go
        name: Format Go
        description: "Format Go"
        files: ^.*\.go$
        types_or: [go]
        entry: gofmt
        language: system
        args:
          - "-w"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.(yaml|yml)$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

docs: Simplify installation instructions in README
  README.md
Due: format-markdown

feat(mcp): add Sentry tracing for MCP tool calls
  AGENTS.md
  docs/ANALYSIS_SENTRY_MCP_INTEGRATION.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/MCP_TRACING.md
  docs/README_MCP_TRACING.md
  internal/cli/mcp/sentry.go
  internal/cli/mcp/sentry_test.go
  internal/cli/mcp/server.go
Due: format-go, format-markdown

remove analysis of sentry-javascript
  docs/ANALYSIS_SENTRY_MCP_INTEGRATION.md
Due: format-markdown

remove implementation summary
  docs/IMPLEMENTATION_SUMMARY.md
Due: format-markdown

consolidate documentation
  AGENTS.md
  docs/MCP_TRACING.md
  docs/README_MCP_TRACING.md
Due: format-markdown

feat(mcp): add Sentry tracing for MCP tool calls (#1)
  AGENTS.md
  docs/MCP_TRACING.md
  internal/cli/mcp/sentry.go
  internal/cli/mcp/sentry_test.go
  internal/cli/mcp/server.go
Due: format-go, format-markdown

chore(ci): Update release name format in workflow
  .github/workflows/release.yml
Due: format-yaml

chore(ci): Update release name format in workflow (#2)
  .github/workflows/release.yml
Due: format-yaml

fix(mcp): replace orphaned spans with proper transactions
  internal/cli/mcp/sentry.go
Due: format-go

fix(mcp): replace orphaned spans with proper transactions (#3)
  internal/cli/mcp/sentry.go
Due: format-go

fix(github): trim whitespace from action references
  internal/github/actions.go
  internal/github/actions_test.go
Due: format-go

fix(github): trim whitespace from action references (#4)
  internal/github/actions.go
  internal/github/actions_test.go
Due: format-go

docs: Add MIT License to the project
  LICENSE
Due: none

feat: add get_readme tool and refactor reference parsing
  internal/cli/mcp/server.go
  internal/cli/mcp/tools.go
  internal/github/actions.go
  internal/github/actions_test.go
  internal/github/ref.go
  internal/github/ref_test.go
Due: format-go

docs: modernize README with 2025 best practices
  README.md
Due: format-markdown

feat: add get_readme tool and refactor reference parsing (#5)
  internal/cli/mcp/server.go
  internal/cli/mcp/tools.go
  internal/github/actions.go
  internal/github/actions_test.go
  internal/github/ref.go
  internal/github/ref_test.go
Due: format-go

docs: Add modern README.md (#6)
  README.md
Due: format-markdown

chore: add Docker deployment with multi-registry support
  .dockerignore
  .github/workflows/build-cli-docker.yml
  .github/workflows/release.yml
  AGENTS.md
  Dockerfile
  Makefile
  README.md
Due: format-markdown, format-yaml

Update Makefile
  Makefile
Due: none

Update AGENTS.md
  AGENTS.md
Due: format-markdown

Update .github/workflows/build-cli-docker.yml
  .github/workflows/build-cli-docker.yml
Due: format-yaml

Smaller changes
  Makefile
Due: none

chore: Add deployment as container image (#7)
  .dockerignore
  .github/workflows/build-cli-docker.yml
  .github/workflows/release.yml
  AGENTS.md
  Dockerfile
  Makefile
  README.md
Due: format-markdown, format-yaml

fix: Update base image in Dockerfile to Alpine 3.22.2
  Dockerfile
Due: none

docs: Add Docker usage instructions to pre-release and release templates
  .github/pre-release-template.md
  .github/release-template.md
Due: format-markdown

fix: remove conflicting tags from digest-based build step
  .github/workflows/build-cli-docker.yml
Due: format-yaml

docs: Update GitHub Sponsors username in FUNDING.yml
  .github/FUNDING.yml
Due: format-yaml

docs: Update GitHub Sponsors username in FUNDING.yml (#8)
  .github/FUNDING.yml
Due: format-yaml

docs: Update README.md with additional badges for project status
  README.md
Due: format-markdown

fix: create separate manifests for each registry
  .github/workflows/build-cli-docker.yml
Due: format-yaml

fix: resolve Docker multi-registry deployment issues
  .github/workflows/build-cli-docker.yml
  .github/workflows/release.yml
Due: format-yaml

fix: resolve Docker multi-registry deployment issues (#9)
  .github/workflows/build-cli-docker.yml
  .github/workflows/release.yml
Due: format-yaml

docs: Revise README.md for improved structure and clarity
  README.md
Due: format-markdown
